<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue chez moi</h1>
    <a href="/a-propos"><button>a propos</button></a>
    <a href="/contact"><button>contact</button></a>
</body>
</html>